.container{
    padding: 20px;
    background-color: white;
    width: 100%;
    max-width: 400px;
   
    border-radius: 12px;
    box-shadow: black;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    padding: 10px;
    border: 1px solid gray ;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s 
}

label{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    
}

button{
    margin-top: 10px;
    border-radius: 13px;
    border: none;
    align-items: center;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 7px;
    transition: background-color 1s;
   
}

.sin-subrayado{
    text-decoration: none;
    text-align: center;
    margin-top: 5%;
    color: rgb(64, 1, 64);
}

p{
    text-align: center;
}

button:hover{
    background-color: rgb(142, 141, 141);
    
}

body{
    background-color: rgb(142, 141, 141);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
