.barra{
    background-color: rgb(168, 168, 168);
}

.burger{
    background-color: white;
}


.navbar{
    transition: all 1s ease-in-out;
}
.logo{
    width: 3rem;
    height: auto;
    margin: 3px;
    border-radius: 50%;
}

.logo2{
justify-content: center;
align-items: center;
margin: 4px;
border-radius: 50%;
height: auto;
width: 10rem;
}

.eslogan{
    font-style: italic ;
    text-align: center;
}

body{
    background: linear-gradient(0deg,  white, white);
    height: 100;
align-items: center;
margin: 0;
}


.img{
animation: aparecer 1s ease-in-out;
height: 25rem;
cursor: pointer;
display: inline-block;
transition:box-shadow 0.5s ease;
}

.img:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

.texto-oculto{
    position: absolute;
    bottom: 0;
  background: gray;
  color: white;
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s ease;  
  text-align: center;
  margin: 40px;
}

.contenedor:hover .texto-oculto{
    opacity: 1;
}



.img.show{
opacity: 1;
}

.contenedor{
   width: 100%;
   margin: auto;
    display: flex;
  justify-content: center;
  align-items: center;
}

H1{
    margin: 0;
    text-align: center;

}

.text{
 font-weight: bold;   
}

.imagen-principal{
    width: 100%;
    height: 35rem;
    display: block;

}


@keyframes aparecer{
0%{ opacity: 0;
    transform: scale(0.5);

}

100%{
    opacity: 1;
    transform: scale(1);
}
}